@import"./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');


/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
 */

 /* *{
   border: 1px solid red;
 } */

 :root {
   --black: #242424;
   --black-border: #212121;
   --white: #ffffff;
   --yellow: #FFCA0F;
   --green: #5AE3B1;

   --text-color: var(--black);
   --dark-bg: var(--black);
   --dark-border: var(--black-border);
   --header-text: var(--white);
   --accent: var(--yellow);

   /* light mode */
   --strong: var(--black);
   --header-bg: rgb(209, 209, 209);
   --page-bg: #ffffff;
   --text-color: var(--black);
   --title-1: var(--accent);
   --project-card-bg: var(--white);
   --project-card-text: var(--black);
   --card-bg: #d4d7db;
   --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
 }

 .dark {
  /* dark mode */
  --strong: var(--black);
  --card-bg: #565c5f;
  --page-bg: #444444;
  --text-color: var(--white);
  --accent: var(--green);
  --title-1: var(--accent);
  --header-bg: #272727;
  --project-card-bg: #f65151;
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);

 }

 html, 
 body {
   font-family: 'DM Sans', sans-serif;
   letter-spacing: -0.5px;
   /* color: var(--text-color); */
   min-height: 100vh;
   background-color: var(--page-bg);
   color: var(--text-color);
 }

 #root {
  min-height: 100vh;
 }

 .App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 }

 .container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1200px;
 }



 .title-2 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
}

.section {
  padding: 70px 0;
 }

 .title-1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--title-1);
  text-align: center;
 }

