@media (max-width: 620px) {
   .header {
     min-height: unset;
   }
   .header__title {
     font-size: 30px;
   }
   .header__title strong {
     font-size: 40px;
   }
 
   .nav-row {
     justify-content: space-between;
   }
 
   .dark-mode-btn {
     order: 0;
   }
 
   .section{
     padding: 40px 0;
   }
 
   .title-1 {
     margin-bottom: 30px;
     font-size: 40px;
   }
   .title-2{
     margin-bottom: 10px;
     font-size: 30px;
   }
 
   .project__title{
     font-size: 22px;
   }
 
   .project-details__desc {
     margin-bottom: 20px;
     font-size: 22px;
   }
 
   .footer{
     padding: 40px 0 30px;
   }
 
   .footer__wrapper{
     row-gap: 20px;
   }
 
   .social{
     column-gap: 20px;
   }
 
   .social__item {
     width: 20px;
   }
 
   .content-list {
      min-width: auto;
     row-gap: 20px;
   }
 
   .content-list__item{
     font-size: 15px;
   }
 
 }

@media (max-width: 990px){
   .container-skills {
     grid-template-columns: repeat(4, 1fr);
     padding: 15px 15px;
     transition: 1s;
   }
  }
  @media (max-width: 740px){
   .container-skills {
     grid-template-columns: repeat(3, 1fr);
     padding: 15px 15px;
   }
  }
  @media (max-width: 550px){
   .container-skills {
     grid-template-columns: repeat(3, 1fr);
     padding: 15px 15px;
   }
  }
  @media (max-width: 380px){
   .container-skills {
     grid-template-columns: repeat(1, 1fr);
     padding: 15px 15px;
   }
  }
